<h1 mat-dialog-title>Repeat transaction</h1>
<div mat-dialog-content>
  <p>Are you sure you want to send {{data.amount}} PW to {{data.user}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>