<div class="example-container mat-elevation-z8">
  <div style="position: relative; left:10px">
    <div style="width: 200px">
      <mat-input-container>

        <input matInput placeholder="Search by correspondent" #inputCor>

      </mat-input-container>
    </div>

    <div style="width: 500px">
      <div>
        Filter operation date
      </div>
      <mat-input-container>
        <input matInput [matDatepicker]="pickerFrom" placeholder="From" #inputDateFrom>
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      </mat-input-container>
      <mat-datepicker #pickerFrom></mat-datepicker>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="To" #inputDateTo>
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

    </div>

    <div style="width: 500px">
      <div>
        Filter by amount
      </div>
      <mat-input-container>
        <input matInput type="number" placeholder="From" #amountFrom>
      </mat-input-container>
      <mat-input-container>
        <input matInput type="number" placeholder="To" #amountTo>
      </mat-input-container>
    </div>
  </div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="operationDateUTC" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="operationDateUTC">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date UTC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.operationDateUTC | date:'yyyy-MM-dd HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="correspondent">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Correspondent </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.recipientUser.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="resultBalance">
      <mat-header-cell *matHeaderCellDef> Result balance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.senderResultingBalance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> Button</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-button (click)="onRetry(element.recipientUser.userName, element.amount)">
          Repeat transaction
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.countItems" [pageSize]="5" [pageSizeOptions]="[3 ,5, 10, 20]">
  </mat-paginator>
</div>