<header>
  <div style="background-color: rgb(117, 117, 255)">
    <a [routerLink]="['/']">
      <img [src]="logo" style="height: 60px; width: 60px; display: inline-flex;" alt="PW">
    </a>

    <div style="display: inline-flex; position: relative;left: 83%; top: -25px;">
      <div *ngIf="IsAuthenticated" >User: {{ CurrentUser.UserName }} Balance: {{ CurrentUser.Balance }}</div>
    </div>

    <div *ngIf="IsAuthenticated" style="display:  inline-flex; position: relative;left: 83%; top: -25px;">
      <a [routerLink]="['']" (click)="logout()" title="Logout" >
        <i style="width: 15px;"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>
</header>
<div *ngIf=!IsAuthenticated>
  <login></login>
</div>

<div *ngIf=IsAuthenticated style="position: relative;top: 15px; left: 10px;">
  <create-transaction (onCreate)='updateHistory()' #createTransaction></create-transaction>
</div>

<div *ngIf=IsAuthenticated style="position: relative;top: 30px; left: 10px;">
  <transactions #transactionsHistory></transactions>
</div>