<ng-container *ngIf="showLogin">
  <div >
    <span *ngIf="hasErrors" style="color:red">{{error}}</span>
    <form name="loginForm" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
      <div >
        <mat-form-field>
          <input matInput type="email" id="login" name="userName" [(ngModel)]="model.userName" placeholder="Email" #UserName="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required autofocus [ngClass]="{'has-error': f.submitted && !UserName.valid}"
          />
        </mat-form-field>
      </div>
      <div >
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" id="pass" name="password" [(ngModel)]="model.password" placeholder="Enter your password"
            #Password="ngModel" required [ngClass]="{'has-error': f.submitted && !Password.valid}" />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <div style="display: inline-flex;">
        <button mat-raised-button type="submit"  [disabled]="loading">Login</button>
      </div>
      <div style="display: inline-flex;">
        <button mat-raised-button (click)="changeShow()">Register</button>
      </div>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="!showLogin">
  <div >
    <div *ngIf="hasErrors">
      <div *ngFor="let err of errors">
        <span style="color:red">{{err}}</span>
      </div>
    </div>
    <form name="registerForm" #regf="ngForm" (ngSubmit)="regf.form.valid && register()" novalidate>
      <div >
        <mat-form-field>
          <input matInput type="text" id="userName" name="UserName" [(ngModel)]="regModel.UserName" placeholder="Your name" #UserName="ngModel"
            required autofocus [ngClass]="{'has-error': regf.submitted && !UserName.valid}" />
        </mat-form-field>
      </div>
      <div >
        <mat-form-field>
          <input matInput type="text" id="email" name="Email" [(ngModel)]="regModel.Email" placeholder="Your email" #Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required [ngClass]="{'has-error': regf.submitted && !Email.valid}"
          />
        </mat-form-field>
      </div>
      <div >
        <mat-form-field>
          <input matInput [type]="hidePass ? 'password' : 'text'" id="Password" name="Password" [(ngModel)]="regModel.Password" placeholder="Password"
            #Password="ngModel" required validateEqual="ConfirmPassword"  reverse="true" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-,.]).{6,}$" [ngClass]="{'has-error': regf.submitted && !Password.valid}" />
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <small [hidden]="Password.valid || (Password.pristine && !regf.submitted)">
          Password is not valid
      </small>
      </div>
      <div >
        <mat-form-field>
          <input matInput [type]="hideConfirmPass ? 'password' : 'text'" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="regModel.ConfirmPassword"
            placeholder="Confirm password" #ConfirmPassword="ngModel" required validateEqual="Password" [ngClass]="{'has-error': regf.submitted && !ConfirmPassword.valid}"
          />
          <mat-icon matSuffix (click)="hideConfirmPass = !hideConfirmPass">{{hideConfirmPass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
            <small [hidden]="ConfirmPassword.valid || (ConfirmPassword.pristine && !regf.submitted)">
                Password mismatch
            </small>
      </div>
      <div style="display: inline-flex;">
        <button mat-raised-button type="submit" [disabled]="loading">Register</button>
      </div>
      <div style="display: inline-flex;">
        <button mat-raised-button (click)="changeShow()">Auth</button>
      </div>
    </form>
  </div>
</ng-container>