<h2 mat-dialog-title>New transaction</h2>
<mat-dialog-content>
  <form class="dialog-form" [formGroup]="flagForm">
    <mat-form-field class="dialog-full-width">
      <input type="text" placeholder="Recipient" aria-label="Recipient" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="changeMyControl($event.srcElement.value)"  #recipient>
      <mat-error *ngIf="myControl.hasError('incorrect')">
            This user is not exist
        </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.UserName" >
          {{ option.UserName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="dialog-full-width">
        <input matInput type="number" placeholder="Amount" [formControl]="amountControl"
               [errorStateMatcher]="matcher" #amount>
        <mat-error *ngIf="amountControl.hasError('min') && !amountControl.hasError('required')">
            The transaction amount must greater than 0
        </mat-error>
        <mat-error *ngIf="amountControl.hasError('max') && !amountControl.hasError('required')">
            The transaction amount is greater than the current user balance
          </mat-error>
        <mat-error *ngIf="amountControl.hasError('required')">
          Amount is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit" [disabled]="!flagForm.valid"  [mat-dialog-close]="true" (click)="createTransaction(recipient.value, amount.value)"  cdkFocusInitial>Create</button>
</mat-dialog-actions>